@if (preview){
    @if (currentAuthor.id){
        <a routerLink="/authors/{{currentAuthor.id}}" class="link-secondary">{{currentAuthor.name}}</a>
    }
    @else {<p>Author not listed</p>}
} @else {
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h2>{{currentAuthor.name}}</h2>
                <hr />
                <p class="mb-3">{{currentAuthor.about}}</p>
                    <app-home [authorId]="this.currentAuthorId"></app-home>
            </div> 
            <div class="col-4">
                <img [src]="currentAuthor.pfp" class="img-fluid" alt="{{ currentAuthor.name }}" *ngIf="currentAuthor.pfp">
                <figcaption class="figure-caption">{{currentAuthor.caption}}</figcaption>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div> 
}