<div class="container">
    <div class="row">
        <div class="col-8">
            <ul class="list-group list-group-flush">
                @for (tutorial of tutorials; track tutorial.id; let i = $index) {
                    <a routerLink="/{{tutorial.id}}" 
                        class="list-group-item list-group-item-action"
                    >
                    <h4> {{tutorial.title}} </h4>
                    <h6>Last updated: {{tutorial.updatedAt | date: 'MMM d, y'}}
                    @if (tutorial.authorId) {
                        | <app-author-details [currentAuthorId]="tutorial.authorId"></app-author-details>
                    }
                </h6>
                    <p> {{tutorial.description}} </p>
                    </a>
                }
            </ul>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Search by title"
                    [(ngModel)]="title"
                    (keyup.enter)="searchTitle()"
                />
                <div class="input-group-append">
                    <button
                        class="btn btn-outline-secondary"
                        type="button"
                        (click)="searchTitle()"
                    >
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>