<div>
    <div class="submit-form">
        @if (!submitted) {
            <div class="form-group">
                <label for="title">Title</label>
                <input
                    type="text"
                    class="form-control"
                    id="title"
                    required
                    [(ngModel)]="tutorial.title"
                    name="title"
                />
            </div>

            <app-author-list [(ngModel)]="tutorial.authorId" name="authorId" id="authorId"></app-author-list>

            <div class="form-group">
                <label for="description">Description</label>
                <input
                    class="form-control"
                    id="description"
                    required
                    [(ngModel)]="tutorial.description"
                    name="description"
                />
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea
                    type="text"
                    class="form-control"
                    id="content"
                    [(ngModel)]="tutorial.content"
                    name="content"
                    rows="4"
                ></textarea>
            </div>

            <button (click)="saveTutorial()" class="btn btn-success">Submit</button>
        } @else {
            <h4>Tutorial was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newTutorial()">Add</button>
        }
    </div>
</div>
